
div {
  background-image: url('images/ai.jpg');
  margin: 0px; 
}

header{
height: 200px;
font-size: 5em;
background-image: url(images/robotto.jpg);
}

nav{
float: left;
width: 15vw;
background-color: #7EA5FF ;
position:sticky;
top: 20px;
}

article{
background-color: #7EA5FF ;
width: 60vw;
margin: 0 auto;
padding: 10px;
}

.sss {
margin: 0px;
}

p {
 margin: 0px; 
}

.logo{
  hight: 200px;
  width: 80px;
  float: left;
  top: 4px;
}

body {
  background-image: url('images/ai.jpg');
  margin: 0px; 
}

@media screen and (max-width: 750px) {
nav{
 width: 30vw;
}

article{
 width: 35vw;
}

}

@media screen and (max-width: 749px) {
table{
display: none;
}

}

@media screen and (max-width: 588px) {
.logo{
float: right;
}

}