header{
background-image: url(images/robotto.jpg);
height: 200px;
font-size: 5em;
}

.logo{
  height: 100px;
  width: 100px;
  float: left;
  top: 5px;
  margin: 10px;
}
article{
width: 60vw;
margin: 0 auto;
background-color: #7EA5FF;
padding: 10px;

}

nav{
float: left;
background-color: #7EA5FF;
width: 15vw;
position:sticky;
top:20px;
margin: 10px;

}

body{
 background-image: url('images/ai.jpg');
 margin: 0px;
}

.sss {
margin: 0px;
}

p {
 margin: 0px; 
}

@media screen and (max-width: 750px) {
nav{
 width: 30vw;
 float: left;
 padding: 5px;
}
article{
 width: 35vw;
 float: left;
}

}

@media screen and (max-width: 709px) {
.logo{
display: none;
}

}